# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# PyInstaller
build/
dist/
*.spec

# Environments
.env
.venv
env/
venv/
ENV/

# IDEs
.idea/
.vscode/
*.swp
*.swo

Enviar_Para_GitHub.bat

# Dumps & Screenshots
*.png
*.xml
